body{
    font-family: 'Roboto', sans-serif;
}
.nav-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}
.dropdown-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}
.my_footer{
    background-color:#f8f9fa;
    height:60px;
}
.my_footer p{
    padding-top:20px;
    font-size:14px;
}
.my_row_class{
    padding-top:10px;
}
.my_row_class .mx_auto{
    color:#000;
    font-size:14px;
}
.my_image{
    width:100%;
    height:323px;
}
.my_title{
    font-size:15px;
    /*text-transform:uppercase;*/
    letter-spacing:.2em;
}
.my_image_padding{
    padding:5px;
}
.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h4{
    font-size:13px;
    text-transform:uppercase;
    letter-spacing:.1em;
}
.link_capital{
    text-transform:capitalize;
}

/*product page*/
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;
}
.my_prod_row_class .mx_auto{
    color:#000;
    font-size:14px;
    text-decoration:none;
}
.my_prod_title{
    padding-top:15px;
    padding-bottom:10px;
    letter-spacing:.1em;
    text-transform:capitalize;
}
/*.prod_title{
    text-transform:capitalize;
}*/
.my_prod_text{
    padding-right:20px;
    font-size:14px;
}
.my_search_text{
    padding-top:20px;
}

/*** Cart page ***/
.my_custome_table{
    min-width:400px;
    font-size:14px;
}
.my_custome_thead{
    font-weight:normal;
    /*text-transform:uppercase;*/
    letter-spacing:.2em;
    background-color:#f8f8fa!important;
}
.custome_a{
    text-decoration:none;
}
.custome_icon{
    text-decoration:none;
    color:#868e96!important;
}
.my_custome_button{
    margin-top:5px;
}
